
html {
  font-weight: 1000;
  font-size: 24px;
  color: var(--black);
  
}

body {
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 1px;
  background-attachment: fixed;
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1px 0;
}

.item {

  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  font-size: 35px;
}

.item p {
  margin: 0 0 1px 0;
}

ul {
  font-size: 16pt;
}

li {
  list-style-type: none;
}

.header {
  font-size: 25pt;
}
